<!DOCTYPE html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/styles.css" >
  <link rel="icon" type="image/x-icon" href="bnb.png" />
</head>
<body>

<nav>
      <div class="container centre nav-height">
        <div class="logo">
        <img class="flair" src="bnb.png" alt="Flair BnB logo">
          <h1>Login to Flair BnB</h1>
        </div>
        <div class="links">
        <p><a href="/">Home</a></p>
        </div>
      </div>
      </nav>
      <div class="line"></div>
      <div class="status">
      </div>

  <header>
      <div>
        <p class="secret">Farewell Sinatra... it's been a pleasure</p>
      </div>

        <div class="centre container column">
        <h2>Enter your login details</h2>
            <form method="POST" action="/login" class="right-align">
              <label>Enter your email</label>
              <input class="text" type="text2" name="email" required minlength="5"><br>
              <label>Enter your password</label>
              <input class="text" type="text2" name="password" required minlength="5"><br>
              <% if !flash[:alert].nil? %>
                <div class="validation">
                  <%= flash[:alert] %>
                </div><br><br>
              <% end %>     
              <input class="button" type="submit" value="Login">
            </form>
        </div>
      </header>


  
  <script src="script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
