<!DOCTYPE html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/styles.css" >
</head>
<body>

<nav>
      <div class="container centre nav-height">
        <div class="logo">
        <img src="bnb.png" alt="Flair BnB logo">
          <h1>Login to Flair BnB</h1>
        </div>
        <div class="links">
        <p><a href="/">Home</a></p>
        </div>
      </div>
      </nav>
      <div class="line"></div>
      <div class="status">
      </div>

  <header>
        <div class="centre container column">
        <h2>Enter your login details</h2>
            <form method="POST" action="/login" class="right-align">
              <label>Enter your email</label>
              <input class="text" type="text" name="email" required minlength="5"><br>
              <label>Enter your password</label>
              <input class="text" type="text" name="password" required minlength="5"><br>
              <input class="button" type="submit" value="Login">
            </form>
        </div>
      </header>


  

</body>
</html>