<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - New Space</title>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Create a new space</h1>

    </body>
</html>


<%# <form method="POST" action="/new_user">

<h4 style="background-color: #999;">
<label>Your name:</label>
<input type="text" name="name"/><br>
<label>Choose a Username:</label>
<input type="text" name="username"/><br>
<label>Email Address:</label>
<input type="text" name="email"/><br>
<label>Password:</label>
<input type="text" name="password"/><br>
</h4>

<input type="submit" value="Create Account!">
</form> %>