<!DOCTYPE html>
<head>

  <title>Space: <%= @space.id %></title>
  <link rel="stylesheet" href="/styles.css" >
</head>
<body>
  <h1>Space: <%= @space.name %></h1>
  <p> <%= @space.description %></p>
  <form method="POST" action="/spaced_id">

    <label>Enter your date </label><input type="text" name="available_from" required><br>
    <input type="submit" value="Request to book">
  </form>

  </form>
</body>
</html>