@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --body: #f5f4f4;
  --text: #474646;
  --line: #b1aeae;
  --hover_link: #6f6c6c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: var(--body);
    color: var(--text);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centre {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

a:hover {
  color: #000;
  font-weight: bold;
}

/* NAVBAR */

nav {
    background-color: #fff;
    height: 70px;
}

.nav-height {
    height: 100%;
}

nav h1 {
    font-size: 2.2rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  max-height: 55px;
  padding-right: 20px;
}

.links {
    display: flex;
    height: 100%;
    align-items: center;
}

.links p {
    font-size: 20px;
}

.login, .logout {
  width: 80px;
}

.bookings_by {
  width: 120px;
  padding: 10px;
  text-align: center;
}

.new_space {
  width: 160px;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navlink:hover {
  background: #f5f4f4;
}


nav a {
    text-decoration: none;
    color: var(--text);
    text-align: center;
  }

.line {
  background-color: var(--line);
  min-height: 1px;
  /* margin-bottom: 30px; */
}

/* MAIN BODY / HEADER */

header h1, h2, h3 {
  margin-bottom: 20px;
}

header h3 {
  text-align: center;
}

header p {
  margin-bottom: 10px;
}

header a {
  text-decoration: none;
  color: var(--hover_link);
}

.secret {
  text-align: center;
  margin: 10px auto;
  color: var(--body);
}

.bookings {
  align-items: flex-start;
}

.column {
  flex-direction: column;
  flex: 1;
}

.panels {
  margin: 0 auto;
}

.space {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  padding: 20px 30px;
}

/* FORMS */

input {
  margin: 0 0 10px 15px;
}

.right-align {
  text-align: right;
}

.text {
  font-family: 'Raleway', sans-serif;
  width: 130px;
  padding: 3px;
  margin: 0 0 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.text2 {
  font-family: 'Raleway', sans-serif;
  width: 200px;
  padding: 3px;
  margin: 0 0 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.space_left {
  margin-left: 10px;
}

.button {
  background-color: #fff;
  color: #7c7c7c;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #b1aeae;
  font-size: 14px;
  cursor: pointer;
}

.confirm_button {
  background-color: #dbf1d4;
  color: #7c7c7c;
  border: none;
  padding: 5px 10px;
  margin: 5px 0 10px;
  border-radius: 4px;
  border: 1px solid #b1aeae;
  font-size: 14px;
  cursor: pointer;
}

.decline_button {
  background-color: #ffe4e4;
  color: #7c7c7c;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #b1aeae;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #6e6e6e;
  color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.confirm_button:hover {
  background-color: #71d339;
  color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.decline_button:hover {
  background-color: #ee3636;
  color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

/* WARNINGS AND VALIDATION */

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* Styles for the new_space page */
body.new-space {
  background-color: #f5f5f5;
}

form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 60%;
  max-width: 500px;
  margin: 40px auto;
  padding:30px;
  text-align: center;
}

form input[type="text"] {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%; 
}

input[type=submit] {
  background-color: grey;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #007BAA;
}
