@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #eef1f1;
    color: #474646;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    /* background-color: #eeeeee; */
    height: 70px;
}

.nav-height {
    height: 100%;
}

nav h1 {
    font-size: 2.2rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  max-height: 55px;
  padding-right: 20px;
}

.links {
    display: flex;
}

.links p {
    margin-left: 20px;
    font-size: 20px;
}

.line {
  background-color: #b1aeae;
  min-height: 1px;
}

a {
    text-decoration: none;
    color: #474646;
}

header a {
  color: #6f6c6c;
}

header h2 {
  margin-bottom: 20px;
}

header p {
  margin-bottom: 10px;
}

a:hover {
  color: #000000;
  font-weight: bold;
}

.centre {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}

.column {
    flex-direction: column;
    align-items: flex-start;
}

header {
  padding-top: 30px;
}

header h1 {
  margin-bottom: 20px;
}

.panels {
  margin: 0 auto;
}

.space {
  min-width: 750px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  padding: 20px 30px;
}